body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.6rem;
}

.ant-btn {
  border-radius: 0;
}

.ant-form-item {
  margin-bottom: 0px !important;
}

.panel-default {
  border-radius: 0px;
}

.ant-form-item-label {
  line-height: normal;
}

/* .label,
label {
  font-size: 1.6rem !important;
} */

.ant-card {
  box-shadow: 0 3.2px 7.2px 0 var(--callout-shadow-color, rgba(0, 0, 0, 0.132)),
    0 0.6px 1.8px 0 var(--callout-shadow-secondary-color, rgba(0, 0, 0, 0.108));
}

.ant-table {
  box-shadow: 0 3.2px 7.2px 0 var(--callout-shadow-color, rgba(0, 0, 0, 0.132)),
    0 0.6px 1.8px 0 var(--callout-shadow-secondary-color, rgba(0, 0, 0, 0.108));
}
