body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ant-btn {
  border-radius: 0;
}

.ant-form-item {
  margin-bottom: 0px !important;
}

.panel-default {
  border-radius: 0px;
}

.ant-form-item-label {
  line-height: normal;
}
